body {
    width: 100%;
}

#manage-spots-parent-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    /* max-width: 1150px; */
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
    margin-top: 20px;
    border-top: 1px solid #cfcfcf;
    /* border: 1px solid red; */
    position: fixed;
    right: 0;
}


#manage-spots-title-text {
    justify-self: flex-start;
    font-family: 'Montserrat', sans-serif;
    margin-left: 40px;
    /* margin-top: 20px; */
}

#manage-spots-show-parent-div {
    /* max-width: 1150px; */
    /* height: 800px; */
    width: 100%;
    /* height: fit-content; */
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    margin-left: 16px;
    margin-bottom: 20px;
}


#manage-spot-buttons {
    width: 210px;
    display: flex;
    justify-content: flex-start;
    margin-left: 30px;
}

#manage-spots-update-button, #manage-spots-delete-button {
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: #666666;
    width: 105px;
    height: 30px;
    margin-right: 10px;
    margin-top: 5px;
}

#manage-spots-create-new-button {
    background-color: #666666;
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin-left: 40px;
    margin-bottom: 30px;
    /* margin-left: 220px; */
    /* border: 1px solid red; */
}

/* #spacer-div {
    height: 100%;
} */

#individual-card-manage-spots {
    width: 28%;
    /* height: 300px; */
}
