#filter-set-ulti-cont {
    /* border: 1px solid blue; */
    position: fixed;
    width: 100%;
    display: flex;
    height: 70px;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    /* z-index: -5; */
    /* opacity: 2; */
}

#filter-bar-angle-wrapper {
    /* width: 110%; */
    /* border: 1px solid red; */
    /* border: 1px solid red; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

}

#angle-left-div {
    /* border: 1px solid blue; */
    border: 1px solid #d7d7d7;
    margin-right: 20px;
    margin-top: 20px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#angle-right-div {
    border: 1px solid #d7d7d7;
    /* margin-left: 0; */
    margin-left: 20px;
    margin-top: 20px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#angle-right-div:hover, #angle-left-div:hover {
    cursor: pointer;
}

.filter-nav-bar-section, .filter-nav-bar-section-2 {
    margin: 10px 0px;
    /* width: 80px; */
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    /* justify-self: flex-start; */
    text-align: center;
    width: 72px;
    /* border: 1px solid red; */
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: 58px;
    /* justify-content: space-evenly; */
    /* justify-content: flex-start; */
    margin-bottom: -10px;
    /* opacity: .9; */
    /* padding-top: 5px; */
    position: sticky;
    /* top: 0px; */
    z-index: 2;
    /* margin-top: 8px; */
    /* border: 1px solid red; */
}

.filter-icon-inner-text {
    /* margin-top: 2px; */
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    /* padding-top: 10px; */
    /* border: 1px solid blue; */
}


/* .filter-nav-bar-section-2 {
    margin: 5px 20px;
    width: 80px;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    /* justify-self: flex-start; */
    /* text-align: center; */
        /* width: 100%; */
    /* border: 1px solid red; */
    /* background-color: #fff;
    display: flex;
    flex-direction: column;
    height: 60px; */
    /* justify-content: space-evenly; */
    /* justify-content: center; */
    /* margin-bottom: -10px; */
    /* opacity: .9; */
    /* padding-top: 5px; */
    /* position: sticky; */
    /* top: 0px; */
    /* z-index: 1; */
    /* margin-top: 8px; */

/* } */

.filter-icon {
    height: 22px;
    width: 22px;
    margin-right: 12px;
}

.filter-icon-2 {
    height: 22px;
    width: 22px;
    /* margin-left: 3px; */
}

/* .filter-icon-2 {
    height: 30px;
    width: 30px;
    margin-left: 5px;
} */
