body {
    width: 100%;
    display: flex;
}

.spot-card-parent-div {
    width: 210px;
    height: 225px;
    margin: 10px 0px 20px 30px;
    z-index: -1;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#landing-page-parent-div {
    margin-top: 0px;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

#spot-card-show-div {
    display: flex;
    flex-flow: row wrap;
    overflow-y: scroll;
}
