body {
    width: 100%;
    display: flex;
}

#spot-card-parent-div {
    width: 210px;
    height: 225px;
    margin: 10px 0px 20px 40px;
    z-index: -1;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* overflow-y: scroll; */
}

#landing-page-parent-div {
    margin-top: 54px;
    /* border: 1px solid red; */
    /* overflow-y: scroll; */
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    left: 0;
    right: 0;
    bottom: 0;
    top: 50px;
    /* z-index: -1; */
}

#spot-card-show-div {
    /* border: 1px solid green; */
    display: flex;
    flex-flow: row wrap;
    /* position: fixed; */
    /* font-size: 10px; */
    /* bottom: 0; */
    top: 80px;
    overflow-y: scroll;
    /* justify-content: space-between; */
}
