body {
    width: 100%;
    display: flex;
}

.spot-card-parent-div {
    width: 21   0px;
    height: 225px;
    margin: 10px 0px 20px 30px;
    z-index: -1;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 80px;
}

#landing-page-parent-div {
    margin-top: 100px;
    position: fixed;
    /* width: 100%; */
    /* max-width: 1024px; */
    /* height: fit-content; */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    left: 15px;
    /* right: 10px; */
    bottom: 50px;
    top: 50px;
    border-top: 1px solid #cfcfcf;
    margin-bottom: 30px;
}

#spot-card-show-div {
    height: fit-content;
    display: flex;
    flex-flow: row wrap;
    overflow-y: scroll;
    /* max-width: 1024px; */
}
