/* #spot-card-parent-div {
    width: 210px;
    height: 225px;
    margin: 10px 0px 20px 40px;
    z-index: -1;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
} */

.tooltip-span-hidden {
    visibility: hidden;
}

.tooltip-span-visible {
    visibility: visible;
    position: absolute;
    z-index: 2;
    width: 100px;
    color: white;
    font-size: 12px;
    background-color: #192733;
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
}

img {
    height: 160px;
    width: 208px;
    border-radius: 10px;
    margin-top: 0;
    /* margin-bottom:5px; */
    /* border: 1px solid black; */
    justify-self: flex-start;

    /* padding-bottom: 10px; */
}

#spot-info-div {
    display: flex;
    flex-flow: row nowrap;
    justify-items: space-between;
    /* border: 1px solid green; */
    height: 65px;
}

#city-state-text {
    font-size: 12px;
    color: black;
    /* border: 1px solid blue; */
    width: 155px;
    /* margin-bottom: 20px; */
    margin-top: 5px;
}

#price-text {
    color: black;
    font-size: 14px;
    width: 120%;
    margin-top: 0px;
}

#rating-icon-div {
    /* border: 1px solid green; */
    margin-left: 2px;
    font-size: 14px;
    width: 58%;
    display: flex;
    justify-content: flex-end;
    margin-right: 0;
    margin-top: 4px;
    color: black;
}

span {
    font-weight: bold;
}

#prev-img-tab {
    /* border: 1px solid purple; */
    margin-top: 0;
    /* height: 50%; */
}
