.spot-card-hidden {
    visibility: hidden;
}

.tooltip-span-hidden {
    visibility: hidden;
}

.tooltip-span-visible {
    visibility: visible;
    position: absolute;
    z-index: 2;
    width: 100px;
    color: white;
    font-size: 12px;
    background-color: #192733;
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
}

@media screen and (max-width: 1024px) {
    .spot-card-img-elem {
        /* border: 1px solid green; */
        height: 190px;
        width: 210px;
        border-radius: 10px;
        margin-top: 0;
        justify-self: flex-start;
    }

    #spot-info-div {
        display: flex;
        flex-flow: row nowrap;
        justify-items: space-between;
        height: 80px;
        width: 210px;
        /* border: 1px solid red; */
    }

    #city-state-text {
        font-size: 12px;
        color: black;
        width: 155px;
        margin-top: 5px;
    }

    #price-text {
        color: black;
        font-size: 14px;
        width: 100%;
        margin-top: 0px;
        /* border: 1px solid green; */
    }

    #rating-icon-div {
        margin-left: 0px;
        font-size: 14px;
        width: 80px;
        display: flex;
        /* justify-content: fl/ex-start; */
        margin-right: 0;
        margin-top: 4px;
        color: black;
        /* border: 1px solid blue; */
    }
}

/* @media screen and (min-width: 1025px) {
    .spot-card-img-elem {
        height: 180px;
        width: 200px;
        border-radius: 10px;
        margin-top: 0;
        justify-self: flex-start;
        border: 1px solid blue;
    }

    #spot-info-div {
        display: flex;
        flex-flow: row nowrap;
        justify-items: space-between;
        height: 65px;
        width: 268px;
        /* border: 1px solid red; */
    /* }

    #city-state-text {
        font-size: 12px;
        color: black;
        width: 155px;
        margin-top: 5px;
    }

    #price-text {
        color: black;
        font-size: 14px;
        width: 100%;
        margin-top: 0px;
        border: 1px solid green;
    }

    #rating-icon-div {
        /* margin-left: 60px;
        font-size: 14px;
        width: 80px;
        /* display: flex; */
        /* justify-content: flex-end;
        margin-right: 0;
        margin-top: 4px;
        color: black;
        border: 1px solid orange;
    }
} */

@media screen and (min-width: 1025px) {
    .spot-card-img-elem {
        height: 215px;
        width: 280px;
        border-radius: 10px;
        margin-top: 0;
        justify-self: flex-start;
    }

    #spot-info-div {
        display: flex;
        flex-flow: row nowrap;
        justify-items: space-between;
        height: 65px;
        width: 280px;
        /* border: 1px solid blue; */
    }

    #city-state-text {
        font-size: 12px;
        color: black;
        width: 155px;
        margin-top: 5px;
    }

    #price-text {
        color: black;
        font-size: 14px;
        width: 100%;
        margin-top: 0px;
        /* border: 1px solid green; */
    }

    #rating-icon-div {
        margin-left: 75px;
        font-size: 14px;
        width: 58%;
        display: flex;
        justify-content: flex-end;
        margin-right: 0;
        margin-top: 4px;
        color: black;
        /* border: 1px solid orange; */
    }
}

/* img {
    height: 160px;
    width: 208px;
    border-radius: 10px;
    margin-top: 0;
    justify-self: flex-start;
}

#spot-info-div {
    display: flex;
    flex-flow: row nowrap;
    justify-items: space-between;
    height: 65px;
}

#city-state-text {
    font-size: 12px;
    color: black;
    width: 155px;
    margin-top: 5px;
}

#price-text {
    color: black;
    font-size: 14px;
    width: 120%;
    margin-top: 0px;
}

#rating-icon-div {
    margin-left: 2px;
    font-size: 14px;
    width: 58%;
    display: flex;
    justify-content: flex-end;
    margin-right: 0;
    margin-top: 4px;
    color: black;
} */

span {
    font-weight: bold;
}

#prev-img-tab {
    margin-top: 0;
}
