.profile-dropdown {
    background-color: white;
    /* padding-left: 20px; */
    /* padding-right: 20px; */
    width: 130px;
    /* padding-top: 5px; */
    border: .5px solid #cfcfcf;
    /* height: 145px; */
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    position: absolute;
    right: 15px;
    list-style-type: none;
    justify-self: flex-end;
    z-index: 15;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 16px 0px;
    border-radius: 10px;
}

.profile-dropdown > li {
    width: fit-content;
}

.profile-dropdown-hidden {
    display: none;
}

.profile-icon-button {
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: white;
}

#user-name-info {
    font-size: 12px;
    height: 15px;
    margin-top: 4px;
}

#user-username-info {
    border-bottom: 2px solid black;
    font-size: 12px;
    height: 15px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding-bottom: 4px;
}

#user-email-info {
    font-size: 12px;
    height: 20px;
    margin-top: 4px;
    border-bottom: 2px solid black;
}

.logout-profile-button {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 11px;
    color: white;
    width: 70px;
    height: 30px;
    border: 1px solid black;
    background-color: #666666;
    margin-top: 8px;
    margin-bottom: 2px;
    border-radius: 40px;
    align-self: center;
}

#logout-div {
    align-self: center;
}

.dropdown-menu-list {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.dropdown-menu-list > li {
    text-align: center;
    padding-bottom: 0;
}

#manage-spots-div {
    width: 100%;
    margin-top: 3px;
    padding-bottom: 3px;
    /* border-bottom: 1px solid #cfcfcf; */
}

.manage-spots-button {
    border: none;
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
}

.dropdown-inner-wrap {
    /* width: 100%; */
    /* border-bottom: 1px solid #cfcfcf; */
    /* width: 128px; */
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
}

.dropdown-inner-wrap:hover {
    cursor: pointer;
    background-color: #cfcfcf;
}

#manage-trips-wrapper, #manage-spots-wrapper {
    border-bottom: .5px solid #cfcfcf;
}

#manage-spots-wrapper, #logout-wrapper {
    /* padding-top: 5px; */
    width: 125px;
    padding-top: 10px;
    padding-bottom: 15px;
    /* margin-top: 3px; */
    /* padding-bottom: 5px; */
}

#manage-trips-wrapper {
    width: 125px;
    margin-top: 0;
    padding-top: 10px;
    padding-bottom: 15px;
    /* width: 100%; */
    border-radius: 10px 10px 0 0;
}

/* #manage-trips-wrapper {
    margin-top: 5px;
} */
#logout-wrapper {
    border-radius: 0 0 10px 10px;
}
